body {
background-color: #236BA2;
}

#banner {
  position: fixed;
  width: 100vw;
}

.bannerItem {
  width: 50%;
  height: 4vw;
  background-color: white;
  float: left;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

#leftSide p {
  width: 15%;
  margin-right: 35%;
}

#banner #leftSide p:hover {
  color: #3333B0;
  cursor: pointer;
}

#banner #rightSide {
  text-align: right;
  color: #236BA2;
}

#rightSide p {
  width: 15%;
  float: right;
}

#banner #rightSide p:hover {
  color: #ccc;
  cursor: pointer;
}

#fixedHeader {
  width: 100%;
  position: fixed;
  top: 7vw;
  margin: 0 auto;
}

#fixedHeader p {
  width: 100%;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  color: #07416E;
}

#navButtons {
  position: fixed;
  right: 0;
  top: 45vh;
}

.navButtonItem {
  margin-bottom: 5vw;
  font-size: 2.5em;
  color: white;
}

.navButtonItem:hover {
  color: #ccc;
  cursor: pointer;
}

#listenerContainer {
  width: 84%;
  margin: 0 auto;
  padding-top: 16vw; 
  height: 200vh;
}

.listener {
    background-color: red;
}
