body {
  color: #236BA2;
}

#banner {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.bannerItem {
  width: 50%;
  height: 4vw;
  background-color: white;
  float: left;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

#leftSide p {
  display: inline-block;
}

#banner #leftSide p:hover {
  color: #3333B0;
  cursor: pointer;
}

#banner #rightSide {
  text-align: right;
  color: #3333B0;
}

#rightSide p {
  display: inline-block;
  float: right;
}

#banner #rightSide p:hover {
  color: #ccc;
  cursor: pointer;
}

#panelContainer {
  /*height: 76%;*/
  width: 100%;
  margin-top: 7vh;
  z-index: 0;
}

.panel {
  height: 46.5vh;
  margin: 0;
  z-index: 0;
  border-radius: 0;
  color: white;
}

.panel i {
  width: 100%;
  text-align: center;
  font-size: 10em;
  margin-top: 8%;
  color: white;
}

.panel p {
  text-align: center;
  font-size: 1.6em;
}

.panel:hover {
  cursor: pointer;
}

.panel:hover p {
  color: #777;
}

#panel1 {
  background-color: #236BA2;
}

#panel2 {
  background-color: #3333B0;
}

#panel3 {
  background-color: #1CAD6F;
}

#panel4 {
  background-color: #FC6529;
}

/*TODO add below to every css sheeet with banner */
@media screen and (max-width: 992px) {
    .bannerItem {
        height: 8vw;
    }

    #leftSide p {
      /*width: 35%;
      margin-right: 15%;*/
      display: inline-block;
    }

    #rightSide p {
      display: inline-block;
    }

    .panel i {
      font-size: 20em;
    }

    .panel p {
      font-size: 14em;
    }


}
