body {
  background-color: #236BA2;
}

#banner {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.bannerItem {
  width: 50%;
  height: 4vw;
  background-color: white;
  float: left;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

#leftSide p {
  width: 15%;
  margin-right: 35%;
}

#banner #leftSide p:hover {
  color: #3333B0;
  cursor: pointer;
}

#banner #rightSide {
  text-align: right;
  color: #3333B0;
}

#rightSide p {
  width: 20%;
  float: right;
}

#banner #rightSide p:hover {
  color: #ccc;
  cursor: pointer;
}

#editForm {
  padding: 10% 30% 0 30%;
}

.formHeading {
  font-size: 1.4em;
  color: #1CAD6F;
  padding-left: 0;
}

.formHeading i {
  font-size: .7em;
  color: #049557;
}

.formHeading:hover i {
  color: white;
}

.formHeading:hover {
  color: white;
  cursor: pointer;
}
.userData {
  font-size: 1.2em;
  color: white;
  padding-left: 0;
}

#becomeListen {
  width: 80%;
  margin: 3% 10%;
}

#saveButtonRow button {
  margin: 4.16666666666666667%;
}

.editable {
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 40%;
  margin: 0 10% 2% 0;
}

/* Used only to deter half width <p> from jumping up to full width <p> going to halfwidth <edit> */
.clearBoth {
  clear: both;
}

/* TODO overwrite :hover for formheadings that arent editable*/
