body{
	background-color: #1C68D1 !important;
}

#scrollableForm {
	width: 60vw;
	height: 30vw;
	margin: 0 auto;
	margin-top: 10vw;
	overflow: scroll;
}

.basicForm {
	margin-bottom: 2vw;
}
.addressBlock {
	margin-bottom: 70px;
}

#addressCityAndCode {
	margin-bottom: 115px;
}

#usernamePicker {
	height: 10%;
}