body{
	background-color: #1C68D1 !important;
}

#form{
	background-color: #1C68D1;
	margin-top: 15vw;
}

.inputs{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 50vw;
}

.input-group-addon{
	min-width: 150px
}

.btn-group-justified{
	color: #555555;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	max-width: 50vw;
}

#sign-up-achievement-title{
	background: #EEEEEE;
	color: #555555;
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	line-height: 40px;
	width: 50vw;
	font-size: 20px;
	text-align: center;
	-webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#signUpAchievement{
	display: block;
	margin: 0 auto !important;
	margin-bottom: 20px;
	min-width: 50vw;
	outline: none;
	resize: none;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.location{
	margin: 0 auto;
	margin-bottom: 20px;
	width: 50vw;
}