body{
	background-color: #1C68D1 !important;
}

#scrollableForm {
	width: 60vw;
	margin: 0 auto;
	margin-top: 20vw;
}

.basicForm {
	margin-bottom: 2vw;
}
.addressBlock {
	margin-bottom: 70px;
}

#addressCityAndCode {
	margin-bottom: 115px;
}

#usernamePicker {
	height: 10%;
}

#logo{
	font-family: 'Lobster', cursive;
	color: #1C68D1;
}

#logo-centered{
	margin: 0 auto;
	margin-top: 250px;
	width: 50vw;
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 5vw;
	color: white;
}

.listen-talk-choice{
	display: inline-block;
	width: 32.7%;
	text-align: center;
	font-size: 1.75vw;
	color: white;
}

#listen-talk-choices{
	margin: 0 auto;
	width: 50vw;
}

#listen-talk-slider{
	margin: 0 auto;
	height: 100px;
	width: 30vw;
}

#next-button{
	margin: 0 auto;
	height: 70px;
	width: 7vw;
	text-align: center;
	font-family: 'Lobster', cursive;
	line-height: 70px;
	font-size: 2.1vw;
	color: #1C68D1;
	background-color: white;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	cursor: pointer;
}

.a{
	width: 7vw;
}

.navbar-default {
    border-color: color: rgba(9,79,106,.7);
    
    font-family: 'Lobster', cursive;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
    font-weight: 700;
	color: #1C68D1;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: rgba(9,79,106,.7);
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #222;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: rgba(9,79,106,.7);
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: rgba(9,79,106,.7)!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

.select {
  font-size: 16px;
  position: relative;
  display: inline-block;
}

.select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  padding: 1.2em 3em 1.3em 1.5em;
  margin: 0;

  transition: border-color 0.2s;
  border: 5px solid #EB5168;
  border-radius: 5px;

  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.select .arr {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  pointer-events: none;
}
.select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid #EB5168;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

textarea{
  display: block;
  width: 60vw;
  margin: 0 auto;
  resize: none;
}

form{
  width: 5vw;
  margin: 0 auto;
}